// шрифты
@import "fonts";
// иконки
@import "icons";
//шрифты по умолчанию
$fontFamily: "Heebo";

// переменные
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 1152;
$md1: $maxWidthContainer +12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// переменные //

// обнуление css и общие параметры
@import "null";
body {
  font-size: 16px;
  color: #21243D;
  font-family: $fontFamily;
  &._lock {
    overflow: hidden;
  }
}
// обнуление css и общие параметры //

//оболочка
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
// оболочка //

// основная сетка
.__container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  background-color: silver;
  @media (max-width: $md1) {
   // max-width: 970px;
  }
  @media (max-width: $md2) {
   // max-width: 750px;
  }
  @media (max-width: $md3) {
   // max-width: none;
  }
}
// основная сетка //

// header
@import "header";
// header //

// main
//home (1st page)
@import "home";
//home (1st page)
// main //

// main (основной блок)

// заголовки 1-го порядка
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  @media (max-width: $md1) {
    font-weight: 700;
    font-size: 30px;
  }
}
// заголовки 2-го порядка
.title-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 44.06px;
  @media (max-width: $md1) {
    font-weight: 700;
    font-size: 30px;
  }
}