// шрифты
@import "fonts";
// иконки
@import "icons";
//шрифты по умолчанию
$fontFamily: "Heebo";

// переменные
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer +12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// переменные //

// обнуление css и общие параметры
@import "null";
body {
  font-size: 16px;
  color: #000;
  font-family: $fontFamily;
  &._lock {
    overflow: hidden;
  }
}
// обнуление css и общие параметры //

//оболочка
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
// оболочка //

// основная сетка
.__container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
  }
}
// основная сетка //

// header
@import "header";
// header //