.page__works {
  >div:nth-child(1) {
    padding: 75px 235px 45px 235px;
    @media (max-width: $md2) {
      padding: 27px 20px 0px 20px;
      margin-bottom: 0;
    }
    >div:nth-child(1) {
      padding-top: 0;
      @media (max-width: $md3) {
        text-align: left;
        padding-left: 20px;
        padding-bottom: 10px;
      }
      >span {            // заголовок страницы
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        @media (max-width: $md2) {
          font-weight: 700;
          font-size: 30px;
          line-height: 60px;
        }
      }
    }
    >div:nth-child(2) {
      @media (max-width: $md3) {
        flex-direction: column;
      }
      >div {              // блоки страницы
        padding-top: 15px;
        padding-bottom: 40px;
        padding-right: 0;
        @media (max-width: $md2) {
          padding-top: 20px;
        }
        @media (max-width: $md3) {
          padding-top: 8px;
          padding-bottom: 17px;
          padding-left: 0;
        }
        &:first-child {
          padding-top: 0;
        }
        @media (max-width: $md3) {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
